*.html linguist-detectable=false
*.xml linguist-detectable=false
*.tsv linguist-detectable=false
*.txt linguist-detectable=false
*.seqs.* linguist-detectable=false
*.bed linguist-detectable=false
*.narrowPeak linguist-detectable=false
*.gff linguist-detectable=false
*.chrom.sizes linguist-detectable=false
*.2bit linguist-detectable=false
*.bed.gz linguist-detectable=false
*.png linguist-detectable=false
*.eps linguist-detectable=false
